.navbar{
    background-color: yellow;
    width: auto;
    margin: 0;
    /* padding: 0; */
}
body{
    width: auto;
    height: auto;
    background-color: blanchedalmond;
}
.bodytop{
height: 90vh ;
}
.homeimg{
    background: url(
        './apex.jpg');
}
.footer{
width: auto;
height: 3vh;
background-color: gray;
}